.main-nav {
  width: 50px;
  height: 100vh;
  display: inline-block;
  background-color: #252526;
  transition: width 0.5s;
  border-radius: 0 10px 10px 0;
  position: absolute;
  left: 0; }
  .main-nav.opened {
    width: 200px;
    transition: all 0.5s; }
    .main-nav.opened .username {
      display: block;
      text-align: center;
      color: white; }
  .main-nav ul {
    list-style-type: none;
    overflow: hidden; }
    .main-nav ul .toggle svg {
      cursor: pointer; }
      .main-nav ul .toggle svg:hover {
        background: #49494b;
        transition: background0 0.3s; }
    .main-nav ul li .logout {
      cursor: pointer; }
      .main-nav ul li .logout svg {
        width: 25px;
        height: 20px; }
    .main-nav ul li a,
    .main-nav ul li .logout {
      text-decoration: none;
      width: 100%;
      display: inline-block;
      position: relative;
      color: white;
      border-radius: 5px; }
      .main-nav ul li a:hover,
      .main-nav ul li .logout:hover {
        background: #49494b;
        transition: background 0.3s; }
