.form {
    width: 500px;
    height: 500px;
    transform: translateY(25%);
    background: white;
    border-radius: 2px;
    box-shadow: 3px 3px $grey-tint;

    div {
        input {
            border-radius: 3px;
        }
    }
}