.post {
  width: 100%;
  max-width: 614px;

  .photo-information-container {
    background-color: white;

    .username,
    .location {
      font: normal 600 14px/18px;
    }
  }

  .image-container {
    img {
      width: 614px;
      height: auto;
    }
  }

  .footer-container {
    background-color: white;

    .buttons-container {
      .like-button {
        cursor: pointer;
      }
    }

    .comments-container {
      .collapse,
      .expand {
        cursor: pointer;
        font: normal 400 12px/18px "Open sans";
      }
    }

    .comment-form {
      form {
        input {
          background-color: #212529;
          color: white;
          width: 50%;
          border-radius: 5px;
          border: none;
          padding: 5px;
          transition: width 0.4s;

          &:focus {
            width: 75%;
            transition: all 0.4s;
          }
        }
      }
    }
  }
}
